<%-include('../partials/header_manager_album.ejs') %>

<nav class="navbar container-fluid">
    <a class="navbar-brand home-button" href="/manager">
      <img src="/src\home.png" width="50" height="50" class="d-inline-block" alt="">
      Waveform 
    </a>
    <form class="form-inline">
        <input class="form-control mr-sm-2 form-rounded" id="search" type="search" placeholder= "&#xF002; Search for songs and artists" aria-label="Search">
    </form>
</nav>
<section class="main">
    <section class="container-fluid banner">
    <% artist.forEach(function(at){ %>
        <a href="/manager/artist/<%=at._id%>" class="material-icons back-button point" id="back" >arrow_back</a>
        
        <br>
            <% album.forEach(function(al){ %>
                <img src=<%=al.cover%> alt="" class="artist-cover">
                <section class="text">
                    <i>Album</i>
                    <br>
                    <i class="artist-name"><%=al.name%></i>
                    <button type="button" class="btn material-icons-outlined" id="btn-add-more-album">Add More Song <span class="material-icons">add_circle_outline</span></button> 
                    <button type="button" class="btn-edit rounded-pill" id="btn-edit">Edit</button>
                    <form action="/manager/artist/<%=at._id%>/album/<%=al._id%>/delete" method="post">
                        <button class="rounded-pill btn-delete" onclick="return confirm('Are you sure you want to delete this item?');">Delete album</button>
                    </form>
                </section>
                </section>
                <ol class="contaienr">
                <% if(al.songs.length === 0){ %>
                    <h1 style="text-align: center; color: white;">This album has no song</h1>
                <% } %>
                <% al.songs.forEach(function(sn){ %>
                    <li class="song-list" id=<%=sn._id%>>
                        <%=sn.title%>
                        <div class="meatball-menu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="option-bar">
                            <a class="edit-option option point" href="/manager/artist/<%=at._id%>/album/<%=al._id%>/song/<%=sn._id%>/edit">Edit</a>
                            <form action="/manager/artist/<%=at._id%>/album/<%=al._id%>/song/<%=sn._id%>/delete" method="post">
                                <a class="delete-option option" id="<%=sn.title%>">Delete</a>
                            </form>
                            
                        </div>
                    </li>
                <% }); %>
                </ol>    
        <% }); %>
            
    <% }); %>
         
</section>

<%-include('../partials/footer.ejs') %>