<%-include('../partials/header_manager_song_add.ejs') %>
<%-include('../partials/header_navbar.ejs') %>
<section class="main">
    <section class="container-fluid banner">
        <a  class="material-icons back-button point" id="back">arrow_back</a>
        
        <br>
        
        <section class="main-article">
            <% album.forEach(function(al){ %>
            <form action="/manager/artist/<%=id%>/album/<%=al._id%>/add" method="post" enctype="multipart/form-data">
                <div class="album">
                    <h2 id="album-name"><%=al.name%></h2>
                    <img src=<%=al.cover%> alt="" class="upload">    
                    <br>    
                    <br>
                    <input type="file" accept="audio/*,.aif,.aiff" name="audio" class="form-control" required>
                </div>  
                <div class="form-inline" id="form-song">
                    <h4 class="title">Title</h4>
                    <input type="text" name="title" class="form-control" id="input-title" placeholder="Song title" required>
                    <br>
                    <h4 class="title">Lyrics</h4>
                    <textarea name="lyrics" id="lyrics" cols="40" rows="15" placeholder="Song lyrics"></textarea>
                    <button type="submit" id="btn-add" class="rounded-pill">add</button>
                </div>        
            <% }); %>    
            </form>
            
                
        </section>
        
</section>

<%-include('../partials/footer.ejs') %>