<%-include('../partials/header_search_album.ejs') %>
<%-include('../partials/header_navbar.ejs') %>
<%-include('../partials/header_sidenav.ejs') %>
<section class="main container d-none d-lg-block">
    <% let backLink = "/search/" + keyword %>
    <a id="back" class="material-icons back-button">arrow_back</a>

    <h2 id="title-head">All albums for "<span id="search"><%=keyword%></span>"</h2>
    
    <section class="container artist">
        <% topAlbum.forEach(function(tal){ %>
            <% let albumLink = "/album/" + tal._id %>
            <button type="button" class="btn artist-btn" id= <%= albumLink %>> 
                <img src= <%= tal.cover %> alt="" class="cover"> <br>
                <%= tal.name %>
            </button>
        <% }); %>
        <!-- <button type="button" class="btn artist-btn"> 
            <img src="src\cover.png" alt="" class="cover"> <br>
            Album
        </button>
        <button type="button" class="btn artist-btn"> 
            <img src="src\cover.png" alt="" class="cover"> <br>
            Album
        </button>
        <button type="button" class="btn artist-btn"> 
            <img src="src\cover.png" alt="" class="cover"> <br>
            Album
        </button>
        <button type="button" class="btn artist-btn"> 
            <img src="src\cover.png" alt="" class="cover"> <br>
            Album
        </button>
        <button type="button" class="btn artist-btn"> 
            <img src="src\cover.png" alt="" class="cover"> <br>
            Album
        </button>
        <button type="button" class="btn artist-btn"> 
            <img src="src\cover.png" alt="" class="cover"> <br>
            Album
        </button>
        <button type="button" class="btn artist-btn"> 
            <img src="src\cover.png" alt="" class="cover"> <br>
            Album
        </button>
        <button type="button" class="btn artist-btn"> 
            <img src="src\cover.png" alt="" class="cover"> <br>
            Album
        </button>
        <button type="button" class="btn artist-btn"> 
            <img src="src\cover.png" alt="" class="cover"> <br>
            Album
        </button>
        <button type="button" class="btn artist-btn"> 
            <img src="src\cover.png" alt="" class="cover"> <br>
            Album
        </button> -->
    </section>
</section>
<section class="main container d-block d-lg-none" style="margin-left: 0rem;">
    <a id="back" class="material-icons back-button">arrow_back</a>

    <h2 id="title-head">All albums for "<span id="search"><%=keyword%></span>"</h2>
    
    <section class="container">
        <% topAlbum.forEach(function(tal){ %>
            <% let albumLink = "/album/" + tal._id %>
            <button type="button" class="btn artist-btn" id= <%= albumLink %>> 
                <img src= <%= tal.cover %> alt="" class="cover"> <br>
                <%= tal.name %>
            </button>
        <% }); %>
        <!-- <button type="button" class="btn artist-btn"> 
            <img src="src\cover.png" alt="" class="cover"> <br>
            Album
        </button>
        <button type="button" class="btn artist-btn"> 
            <img src="src\cover.png" alt="" class="cover"> <br>
            Album
        </button>
        <button type="button" class="btn artist-btn"> 
            <img src="src\cover.png" alt="" class="cover"> <br>
            Album
        </button>
        <button type="button" class="btn artist-btn"> 
            <img src="src\cover.png" alt="" class="cover"> <br>
            Album
        </button>
        <button type="button" class="btn artist-btn"> 
            <img src="src\cover.png" alt="" class="cover"> <br>
            Album
        </button>
        <button type="button" class="btn artist-btn"> 
            <img src="src\cover.png" alt="" class="cover"> <br>
            Album
        </button>
        <button type="button" class="btn artist-btn"> 
            <img src="src\cover.png" alt="" class="cover"> <br>
            Album
        </button>
        <button type="button" class="btn artist-btn"> 
            <img src="src\cover.png" alt="" class="cover"> <br>
            Album
        </button>
        <button type="button" class="btn artist-btn"> 
            <img src="src\cover.png" alt="" class="cover"> <br>
            Album
        </button>
        <button type="button" class="btn artist-btn"> 
            <img src="src\cover.png" alt="" class="cover"> <br>
            Album
        </button> -->
    </section>
</section>

<%-include('../partials/footer.ejs') %>