<%-include('../partials/header_search_artist.ejs') %>
<%-include('../partials/header_navbar.ejs') %>
<%-include('../partials/header_sidenav.ejs') %>
    <section class="main container d-none d-lg-block">
        <% let backLink = "/search/" + keyword; %>
        <a id="back" class="material-icons back-button">arrow_back</a>

        <h2 id="title-head">All artists for "<span id="search"><%=keyword%></span>"</h2>
        
        <section class="container artist">
            <% topArtist.forEach(function(ta){ %>
                <% let artistLink = "/artist/" + ta._id %>
                <button type="button" class="btn artist-btn" id= <%= artistLink %>> 
                    <img src= <%= ta.cover %> alt="" class="cover"> <br>
                    <h3 class="title"><%=ta.name%></h3> 
                </button>
            <% }); %>
            <!-- <button type="button" class="btn artist-btn"> 
                <img src="src\cover.png" alt="" class="cover title"> <br>
                Artist
            </button>
            <button type="button" class="btn artist-btn"> 
                <img src="src\cover.png" alt="" class="cover"> <br>
                Artist
            </button>
            <button type="button" class="btn artist-btn"> 
                <img src="src\cover.png" alt="" class="cover"> <br>
                Artist
            </button>
            <button type="button" class="btn artist-btn"> 
                <img src="src\cover.png" alt="" class="cover"> <br>
                Artist
            </button>
            <button type="button" class="btn artist-btn"> 
                <img src="src\cover.png" alt="" class="cover"> <br>
                Artist
            </button>
            <button type="button" class="btn artist-btn"> 
                <img src="src\cover.png" alt="" class="cover"> <br>
                Artist
            </button>
            <button type="button" class="btn artist-btn"> 
                <img src="src\cover.png" alt="" class="cover"> <br>
                Artist
            </button>
            <button type="button" class="btn artist-btn"> 
                <img src="src\cover.png" alt="" class="cover"> <br>
                Artist
            </button>
            <button type="button" class="btn artist-btn"> 
                <img src="src\cover.png" alt="" class="cover"> <br>
                Artist
            </button>
            <button type="button" class="btn artist-btn"> 
                <img src="src\cover.png" alt="" class="cover"> <br>
                Artist
            </button> -->
        </section>
    </section>
    <section class="main container d-block d-lg-none" style="margin-left: 0rem;">
        <a id="back" class="material-icons back-button">arrow_back</a>

        <h2 id="title-head">All artists for "<span id="search"><%=keyword%></span>"</h2>
        
        <section class="container">
            <% topArtist.forEach(function(ta){ %>
                <% let artistLink = "/artist/" + ta._id %>
                <button type="button" class="btn artist-btn" id= <%= artistLink %>> 
                    <img src= <%= ta.cover %> alt="" class="cover"> <br>
                    <h3 class="title"><%=ta.name%></h3> 
                </button>
            <% }); %>
            <!-- <button type="button" class="btn artist-btn"> 
                <img src="src\cover.png" alt="" class="cover title"> <br>
                Artist
            </button>
            <button type="button" class="btn artist-btn"> 
                <img src="src\cover.png" alt="" class="cover"> <br>
                Artist
            </button>
            <button type="button" class="btn artist-btn"> 
                <img src="src\cover.png" alt="" class="cover"> <br>
                Artist
            </button>
            <button type="button" class="btn artist-btn"> 
                <img src="src\cover.png" alt="" class="cover"> <br>
                Artist
            </button>
            <button type="button" class="btn artist-btn"> 
                <img src="src\cover.png" alt="" class="cover"> <br>
                Artist
            </button>
            <button type="button" class="btn artist-btn"> 
                <img src="src\cover.png" alt="" class="cover"> <br>
                Artist
            </button>
            <button type="button" class="btn artist-btn"> 
                <img src="src\cover.png" alt="" class="cover"> <br>
                Artist
            </button>
            <button type="button" class="btn artist-btn"> 
                <img src="src\cover.png" alt="" class="cover"> <br>
                Artist
            </button>
            <button type="button" class="btn artist-btn"> 
                <img src="src\cover.png" alt="" class="cover"> <br>
                Artist
            </button>
            <button type="button" class="btn artist-btn"> 
                <img src="src\cover.png" alt="" class="cover"> <br>
                Artist
            </button> -->
        </section>
    </section>

<%-include('../partials/footer.ejs') %>