<%-include('../partials/header_search.ejs') %>
<%-include('../partials/header_navbar.ejs') %>
<%-include('../partials/header_sidenav.ejs') %>
<section class="main container d-none d-lg-block">
    <% if(topResult.length !== 0 || topSong.length !== 0 || topArtist.length !== 0 || topAlbum.length !== 0){ %>
        <% if(topResult) {%>
        <h2 class="top-title">Top result</h2>
        <div id="top-result" class="container">
            <img src= "<%= topResult.cover %> "alt="" class="cover" id="img-top-result"> 
            <h1 class="title-song id-top-result" id=<%=topResult.albumId%>><%= topResult.songTitle %></h1>
            <p>
                <% if('title' in topResult){ %>
                    <h5 id= <%=topResult._id %> class="title-artist id-top-result"> <%= topResult.title %></h5>
                    <h4 id="type-top-result" class="rounded-pill">SONG</h4>
                <% } else if('songs' in topResult){ %>
                    <h5 id= <%=topResult._id %> class="title-artist id-top-result"> <%= topResult.name %></h5>
                    <h4 id="type-top-result" class="rounded-pill">ALBUM</h4>
                <% } else {%>
                    <h5 id= <%=topResult._id %> class="title-artist id-top-result"> <%= topResult.name %></h5>
                    <h4 id="type-top-result" class="rounded-pill">ARTIST</h4>
                <% } %>
                
            </p>
        </div>
        <% } else{ %>

        <% } %>
        
        <% if(topArtist){ %>
            <section class="section-artist">
                <h2 class="top-title">Top aritsts</h2>
                <% let artistLink = "/search/" + keyword + "/artist" %>
                <% if(topArtist.length === 0){ %>
                    <h3>Couldn't find artist song with "<%=keyword%>"</h3>
                <% } else {%>
                    <a href="/search/<%=keyword%>/artist" id="see-all-artist" class="see-all see-all-long">
                        <h4 class="see-all">SEE ALL</h4>
                    </a>
                <% } %>
                <section class="container top top-artist">
                    <% topArtist.forEach(function(ta){ %>
                        <%let link = "/artist/" + ta._id %>
                        <button type="button" class="btn btn-artist" id= <%= link %> > 
                            <img src= <%= ta.cover %> alt="" class="cover"> <br>
                            <h3><%=ta.name%></h3>
                        </button>
                    <% }); %>
                </section>
            </section>
        <% } %>
        <% if(topAlbum){ %>    
            <section class="section-album">
                <h2 class="top-title">Top album</h2>
                <% let albumLink = "/search/" + keyword + "/album" %>
                    
                <% if(topAlbum.length === 0){ %>
                    <h3>Couldn't find any album with "<%=keyword%>"</h3>
                <% } else{%>
                    <a href="/search/<%=keyword%>/album" id="see-all-album" class="see-all see-all-long">
                        <h4 class="see-all">SEE ALL</h4>
                    </a>
                <% } %>
                <section class="container top album">
                    <% topAlbum.forEach(function(tal){ %>
                        <%let link = "/album/" + tal._id %>
                        <button type="button" class="btn btn-album" id= <%= link %> > 
                            <img src= <%= tal.cover %> alt="" class="cover"> <br>
                            <h3><%=tal.name%></h3>
                        </button>
                    <% }); %>
                </section>    
            </section>    
        <% } %>    
        <% if(topSong){ %>
            <section id="section-top-song">
                <h2 id="header-top-song" class="top-title">Top songs</h2>
                <% let songLink = "/search/" + keyword + "/song" %>
                <% if(topSong.length === 0){ %>
                    <h3 style="text-align: center;">Couldn't find any song with "<%=keyword%>"</h3>
                <% } else {%>
                    <a href="/search/<%=keyword%>/song" id="see-all-song" class="see-all">
                        <h4 class="see-all">SEE ALL</h4>
                    </a>
                    <p class="header">
                        <h3 class="header d-none d-lg-inline-block" id="title" style="margin-left: 24rem;">TITLE</h3>
                        <h3 class="header d-none d-lg-inline-block" id="album" style="margin-left: 13rem;">ALBUM</h3>
                        <h3 class="header d-none d-lg-inline-block" id="artist" style="margin-left: 6rem;">ARTIST</h3>
                    </p>
                <% } %>
                <section class="container top song">
                    <div>
                        <% topSong.forEach(function(ts){ %>
                            <% let albumLink = "/album/" + ts.albumId %>
                            <% let artistLink = "/artist/" + ts.artistId %>
                            <div class="accordion-item" id="accordionSong">
                                <h2 class="accordion-header" id="heading<%=ts._id%>">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%=ts._id%>" aria-expanded="true" aria-controls="collapse<%=ts._id%>">
                                        <img src= <%= ts.cover %> alt="" class="cover cover-song d-none d-lg-block">
                                        <h5 class="title id-song-title" id= <%= ts._id %> > <%= ts.title %></h5>
                                        <h5 class="id-song-album d-none d-lg-block" id= <%= ts._id %> > <%= ts.albumName %> </h5>
                                        <h5 class="id-song-artist d-none d-lg-block" id= <%= ts.artistId %> > <%= ts.artistName %> </h5>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapse<%=ts._id%>" class="accordion-collapse collapse" aria-labelledby="heading<%=ts._id%>" data-bs-parent="#accordionSong" style="width: 78.8rem;">
                                <div class="accordion-body">
                                    <a href="/song/<%=ts._id%>" class="artist-option option rounded-pill">Go to song</a>
                                    <a href="/artist/<%=ts.artistId%>" class="artist-option option rounded-pill">Go to artist</a>
                                    <a href="/album/<%=ts.albumId%>" class="artist-option option rounded-pill">Go to album</a>
                                <% if(currentUser){ %>
                                    <% let flag = false %>
                                    <% for(let i = 0; i< fav.length; i++){ %>
                                        <% if(ts._id == fav[i].songId){ %>
                                            <% flag = true; %>
                                            <% break; %> 
                                        <% } %> 
                                    <% } %>
                                    <% if(flag === true){ %>
                                        <form action="/favorite/<%=currentUser._id%>/<%=ts._id%>/delete" method="post">
                                            <a href="#" onclick="this.parentNode.submit()" class="favorite-option option rounded-pill">Delete from favourite</a>
                                        </form>   
                                    <% } else{ %>
                                        <form action="/favorite/<%=currentUser._id%>/<%=ts._id%>/add" method="post">
                                            <a href="#" onclick="this.parentNode.submit()" class="favorite-option option rounded-pill">Add to favourite</a>
                                        </form>      
                                    <% } %>
                                    
                                <% } %>
                                <% if(currentUser){ %>
                                    <% if(currentUser.subscribe === true) { %>
                                        <form action="/song/<%=ts._id%>/download" method="post">
                                            <a href="#" onclick="this.parentNode.submit()" class="download-option option rounded-pill">Download</a>
                                        </form>
                                        
                                    <% } %>
                                <% } %>
                                </div>
                            </div>
                        <% }); %>
                        </div>    
                </section>
            </section>
        <% } %>
    <% } else { %>
        <h2 style="text-align: center;">No results found for "<%=keyword%>"</h2>
        <h3 style="text-align: center;">Please make your spelling is correct or use less or different keywords</h3>
    <% } %>
</section>
<section class="main container d-block d-lg-none" style="margin-left: 0px; margin-top: 5rem;">
    <% if(topResult.length !== 0 || topSong.length !== 0 || topArtist.length !== 0 || topAlbum.length !== 0){ %>
        <% if(topResult) {%>
        <h2 class="top-title">Top result</h2>
        <div id="top-result-2" class="container">
            <img src= "<%= topResult.cover %> "alt="" class="cover" id="img-top-result"> 
            <h1 class="title-song id-top-result" id=<%=topResult.albumId%>><%= topResult.songTitle %></h1>
            <p>
                <% if('title' in topResult){ %>
                    <h5 id= <%=topResult._id %> class="title-artist id-top-result"> <%= topResult.title %></h5>
                    <h4 id="type-top-result-2" class="rounded-pill">SONG</h4>
                <% } else if('songs' in topResult){ %>
                    <h5 id= <%=topResult._id %> class="title-artist id-top-result"> <%= topResult.name %></h5>
                    <h4 id="type-top-result-2" class="rounded-pill">ALBUM</h4>
                <% } else {%>
                    <h5 id= <%=topResult._id %> class="title-artist id-top-result"> <%= topResult.name %></h5>
                    <h4 id="type-top-result-2" class="rounded-pill">ARTIST</h4>
                <% } %>
                
            </p>
        </div>
        <% } else{ %>

        <% } %>
        
        <% if(topArtist){ %>
            <section class="section-artist">
                <h2 class="top-title">Top aritsts</h2>
                <% let artistLink = "/search/" + keyword + "/artist" %>
                <% if(topArtist.length === 0){ %>
                    <h3>Couldn't find artist song with "<%=keyword%>"</h3>
                <% } else {%>
                    <a href="/search/<%=keyword%>/artist" id="see-all-artist" class="see-all see-all-long">
                        <h4 class="see-all">SEE ALL</h4>
                    </a>
                <% } %>
                <section class="container top top-artist">
                    <% topArtist.forEach(function(ta){ %>
                        <%let link = "/artist/" + ta._id %>
                        <button type="button" class="btn btn-artist" id= <%= link %> > 
                            <img src= <%= ta.cover %> alt="" class="cover"> <br>
                            <h3><%=ta.name%></h3>
                        </button>
                    <% }); %>
                </section>
            </section>
        <% } %>
        <% if(topAlbum){ %>    
            <section class="section-album">
                <h2 class="top-title">Top album</h2>
                <% let albumLink = "/search/" + keyword + "/album" %>
                <% if(topAlbum.length === 0){ %>
                    <h3>Couldn't find any album with "<%=keyword%>"</h3>
                <% } else {%>
                    <a href="/search/<%=keyword%>/album" id="see-all-album" class="see-all see-all-long">
                        <h4 class="see-all">SEE ALL</h4>
                    </a>
                <% } %>
                <section class="container top album">
                    <% topAlbum.forEach(function(tal){ %>
                        <%let link = "/album/" + tal._id %>
                        <button type="button" class="btn btn-album" id= <%= link %> > 
                            <img src= <%= tal.cover %> alt="" class="cover"> <br>
                            <h3><%=tal.name%></h3>
                        </button>
                    <% }); %>
                </section>    
            </section>    
        <% } %>    
        <% if(topSong){ %>
            <section id="section-top-song">
                <h2 id="header-top-song" class="top-title">Top songs</h2>
                <% let songLink = "/search/" + keyword + "/song" %>
                <% if(topSong.length === 0){ %>
                    <h3 style="text-align: center;">Couldn't find any song with "<%=keyword%>"</h3>
                <% } else {%>
                    <a href="/search/<%=keyword%>/song" id="see-all-song" class="see-all">
                        <h4>SEE ALL</h4>
                    </a>
                <% } %>
                <section class="container top song">
                    <div class="accordion">
                        <% topSong.forEach(function(ts){ %>
                            <% let albumLink = "/album/" + ts.albumId %>
                            <% let artistLink = "/artist/" + ts.artistId %>
                            <div class="accordion-item" id="accordionSong">
                                <h2 class="accordion-header" id="heading<%=ts._id%>">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%=ts._id%>" aria-expanded="true" aria-controls="collapse<%=ts._id%>">
                                        <img src= <%= ts.cover %> alt="" class="cover cover-song d-none d-lg-block">
                                        <h5 class="title id-song-title" id= <%= ts._id %> > <%= ts.title %></h5>
                                        <h5 class="id-song-album d-none d-lg-block" id= <%= ts._id %> > <%= ts.albumName %> </h5>
                                        <h5 class="id-song-artist d-none d-lg-block" id= <%= ts.artistId %> > <%= ts.artistName %> </h5>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapse<%=ts._id%>" class="accordion-collapse collapse" aria-labelledby="heading<%=ts._id%>" data-bs-parent="#accordionSong">
                                <div class="accordion-body">
                                    <a href="/song/<%=ts._id%>" class="artist-option option rounded-pill">Go to song</a>
                                    <a href="/artist/<%=ts.artistId%>" class="artist-option option rounded-pill">Go to artist</a>
                                    <a href="/album/<%=ts.albumId%>" class="artist-option option rounded-pill">Go to album</a>
                                <% if(currentUser){ %>
                                    <% let flag = false %>
                                    <% for(let i = 0; i< fav.length; i++){ %>
                                        <% if(ts._id == fav[i].songId){ %>
                                            <% flag = true; %>
                                            <% break; %> 
                                        <% } %> 
                                    <% } %>
                                    <% if(flag === true){ %>
                                        <form action="/favorite/<%=currentUser._id%>/<%=ts._id%>/delete" method="post">
                                            <a href="#" onclick="this.parentNode.submit()" class="favorite-option option rounded-pill">Delete from favourite</a>
                                        </form>   
                                    <% } else{ %>
                                        <form action="/favorite/<%=currentUser._id%>/<%=ts._id%>/add" method="post">
                                            <a href="#" onclick="this.parentNode.submit()" class="favorite-option option rounded-pill">Add to favourite</a>
                                        </form>      
                                    <% } %>
                                    
                                <% } %>
                                <% if(currentUser){ %>
                                    <% if(currentUser.subscribe === true) { %>
                                        <form action="/song/<%=ts._id%>/download" method="post">
                                            <a href="#" onclick="this.parentNode.submit()" class="download-option option rounded-pill">Download</a>
                                        </form>
                                        
                                    <% } %>
                                <% } %>
                                </div>
                            </div>
                        <% }); %>
                    </div>    
                </section>
            </section>
        <% } %>
    <% } else { %>
        <h2 style="text-align: center;">No results found for "<%=keyword%>"</h2>
        <h3 style="text-align: center;">Please make your spelling is correct or use less or different keywords</h3>
    <% } %>
</section>

<%-include('../partials/footer.ejs') %>