<%-include('../partials/header_search_song.ejs') %>
<%-include('../partials/header_navbar.ejs') %>
<%-include('../partials/header_sidenav.ejs') %>
<section class="main container d-none d-lg-block">
    <% let backLink = "/search/" + keyword; %>
    <a href= <%= backLink %> class="material-icons back-button">arrow_back</a>

    <h2 style="font-size: 350%;">All songs for "<span><%= keyword %></span>"</h2>
    <div class="header d-none d-lg-block">
        <h3 class="header" id="title">TITLE</h3>
        <h3 class="header" id="album">ALBUM</h3>
        <h3 class="header" id="artist">ARTIST</h3>
    </div>
    <div class="accordion">
        <% topSong.forEach(function(ts){ %>
            <% let albumLink = "/album/" + ts.albumId; %>
            <% let artistLink = "/artist/" + ts.artistId; %>
            <div class="accordion-item" id="accordionSong">
                <h2 class="accordion-header" id="heading<%=ts._id%>">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%=ts._id%>" aria-expanded="true" aria-controls="collapse<%=ts._id%>">
                        <img src= <%= ts.cover %> alt="" class="cover cover-song d-none d-lg-block id-song-cover">
                        <h5 class="title id-song-title" id= <%= ts._id %> > <%= ts.title %></h5>
                        <h5 class="id-song-album d-none d-lg-block" id= <%= ts._id %> > <%= ts.albumName %> </h5>
                        <h5 class="id-song-artist d-none d-lg-block" id= <%= ts.artistId %> > <%= ts.artistName %> </h5>
                    </button>
                </h2>
            </div>
            <div id="collapse<%=ts._id%>" class="accordion-collapse collapse" aria-labelledby="heading<%=ts._id%>" data-bs-parent="#accordionSong">
                <div class="accordion-body">
                    <% if(currentUser){ %>
                        <% let flag = false %>
                        <% for(let i = 0; i< fav.length; i++){ %>
                            <% if(ts._id == fav[i].songId){ %>
                                <% flag = true; %>
                                <% break; %> 
                            <% } %> 
                        <% } %>
                        <% if(flag === true){ %>
                            <form action="/favorite/<%=currentUser._id%>/<%=ts._id%>" method="POST">
                                <a href="#" onclick="this.parentNode.submit()" class="artist-option option rounded-pill">Go to song</a>
                            </form>
                        <% } else{ %>
                            <a href="/song/<%=ts._id%>" class="artist-option option rounded-pill">Go to song</a>
                        <% } %>
                    <% } else{ %>
                        <a href="/song/<%=ts._id%>" class="artist-option option rounded-pill">Go to song</a>
                    <% } %>
                    <a href="/artist/<%=ts.artistId%>" class="artist-option option rounded-pill">Go to artist</a>
                    <a href="/album/<%=ts.albumId%>" class="artist-option option rounded-pill">Go to album</a>
                <% if(currentUser){ %>
                    <% let flag = false %>
                    <% for(let i = 0; i< fav.length; i++){ %>
                        <% if(ts._id == fav[i].songId){ %>
                            <% flag = true; %>
                            <% break; %> 
                        <% } %> 
                    <% } %>
                    <% if(flag === true){ %>
                        <form action="/favorite/<%=currentUser._id%>/<%=ts._id%>/delete" method="post">
                            <a href="#" onclick="this.parentNode.submit()" class="favorite-option option rounded-pill">Delete from favourite</a>
                        </form>   
                    <% } else{ %>
                        <form action="/favorite/<%=currentUser._id%>/<%=ts._id%>/add" method="post">
                            <a href="#" onclick="this.parentNode.submit()" class="favorite-option option rounded-pill">Add to favourite</a>
                        </form>      
                    <% } %>
                    
                <% } %>
                <% if(currentUser){ %>
                    <% if(currentUser.subscribe === true) { %>
                        <form action="/song/<%=ts._id%>/download" method="post">
                            <a href="#" onclick="this.parentNode.submit()" class="download-option option rounded-pill">Download</a>
                        </form>
                        
                    <% } %>
                <% } %>
                </div>
            </div>
            <!-- <li class="song">
                <img src=<%= ts.cover %> alt="" class="cover">
                <a href="/song/<%=ts._id%>" class="song-top-song">
                    <h5 class="title"><%= ts.title %></h5>
                </a>
                <a href= <%= albumLink %> class="album">
                    <h5 class="title"><%= ts.albumName %></h5>
                </a>
                <a href= <%= artistLink %> class="artist">
                    <h5 class="title"><%= ts.artistName %></h5>
                </a>
                <div class="meatball-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="option-bar">
                    <a href=<%=artistLink%> class="artist-option option">Go to artist</a>
                    <a href=<%=albumLink%> class="album-option option">Go to album</a>
                    <% if(currentUser){ %>
                        <% let flag = false %>
                        <% for(let i = 0; i< fav.length; i++){ %>
                            <% if(ts._id == fav[i].songId){ %>
                                <% flag = true; %>
                                <% break; %> 
                            <% } %> 
                        <% } %>
                        <% console.log(flag) %>
                        <% if(flag === true){ %>
                            <form action="/favorite/<%=currentUser._id%>/<%=ts._id%>/delete" method="post">
                                <a href="#" onclick="this.parentNode.submit()" class="favorite-option option">Delete from favourite</a>
                            </form>   
                        <% } else{ %>
                            <form action="/favorite/<%=currentUser._id%>/<%=ts._id%>/add" method="post">
                                <a href="#" onclick="this.parentNode.submit()" class="favorite-option option">Add to favourite</a>
                            </form>      
                        <% } %>
                          
                    <% } %>
                    <% if(currentUser){ %>
                        <% if(currentUser.subscribe === true) { %>
                            <form action="/song/<%=ts._id%>/download" method="post">
                                <a href="#" onclick="this.parentNode.submit()" class="download-option option">Download</a>
                            </form>
                        <% } %>
                    <% } %>
                </div>
            </li> -->
        <% }); %>
        </div>
</section>
<section class="main container d-block d-lg-none" style="margin-left: 0%;">
    <a href= <%= backLink %> class="material-icons back-button">arrow_back</a>

    <h2 style="font-size: 350%;">All songs for "<span><%= keyword %></span>"</h2>
    <div class="header d-none d-lg-block">
        <h3 class="header" id="title">TITLE</h3>
        <h3 class="header" id="album">ALBUM</h3>
        <h3 class="header" id="artist">ARTIST</h3>
    </div>
    <div class="accordion">
        <% topSong.forEach(function(ts){ %>
            <% let albumLink = "/album/" + ts.albumId; %>
            <% let artistLink = "/artist/" + ts.artistId; %>
            <div class="accordion-item" id="accordionSong">
                <h2 class="accordion-header" id="heading<%=ts._id%>">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%=ts._id%>" aria-expanded="true" aria-controls="collapse<%=ts._id%>">
                        <img src= <%= ts.cover %> alt="" class="cover cover-song d-none d-lg-block id-song-cover">
                        <h5 class="title id-song-title" id= <%= ts._id %> > <%= ts.title %></h5>
                        <h5 class="id-song-album d-none d-lg-block" id= <%= ts._id %> > <%= ts.albumName %> </h5>
                        <h5 class="id-song-artist d-none d-lg-block" id= <%= ts.artistId %> > <%= ts.artistName %> </h5>
                    </button>
                </h2>
            </div>
            <div id="collapse<%=ts._id%>" class="accordion-collapse collapse" aria-labelledby="heading<%=ts._id%>" data-bs-parent="#accordionSong">
                <div class="accordion-body">
                    <% if(currentUser){ %>
                        <% let flag = false %>
                        <% for(let i = 0; i< fav.length; i++){ %>
                            <% if(ts._id == fav[i].songId){ %>
                                <% flag = true; %>
                                <% break; %> 
                            <% } %> 
                        <% } %>
                        <% if(flag === true){ %>
                            <form action="/favorite/<%=currentUser._id%>/<%=ts._id%>" method="POST">
                                <a href="#" onclick="this.parentNode.submit()" class="artist-option option rounded-pill">Go to song</a>
                            </form>
                        <% } else{ %>
                            <a href="/song/<%=ts._id%>" class="artist-option option rounded-pill">Go to song</a>
                        <% } %>
                    <% } else{ %>
                        <a href="/song/<%=ts._id%>" class="artist-option option rounded-pill">Go to song</a>
                    <% } %>
                    <a href="/artist/<%=ts.artistId%>" class="artist-option option rounded-pill">Go to artist</a>
                    <a href="/album/<%=ts.albumId%>" class="artist-option option rounded-pill">Go to album</a>
                <% if(currentUser){ %>
                    <% let flag = false %>
                    <% for(let i = 0; i< fav.length; i++){ %>
                        <% if(ts._id == fav[i].songId){ %>
                            <% flag = true; %>
                            <% break; %> 
                        <% } %> 
                    <% } %>
                    <% if(flag === true){ %>
                        <form action="/favorite/<%=currentUser._id%>/<%=ts._id%>/delete" method="post">
                            <a href="#" onclick="this.parentNode.submit()" class="favorite-option option rounded-pill">Delete from favourite</a>
                        </form>   
                    <% } else{ %>
                        <form action="/favorite/<%=currentUser._id%>/<%=ts._id%>/add" method="post">
                            <a href="#" onclick="this.parentNode.submit()" class="favorite-option option rounded-pill">Add to favourite</a>
                        </form>      
                    <% } %>
                    
                <% } %>
                <% if(currentUser){ %>
                    <% if(currentUser.subscribe === true) { %>
                        <form action="/song/<%=ts._id%>/download" method="post">
                            <a href="#" onclick="this.parentNode.submit()" class="download-option option rounded-pill">Download</a>
                        </form>
                        
                    <% } %>
                <% } %>
                </div>
            </div>
            <!-- <li class="song">
                <img src=<%= ts.cover %> alt="" class="cover">
                <a href="/song/<%=ts._id%>" class="song-top-song">
                    <h5 class="title"><%= ts.title %></h5>
                </a>
                <a href= <%= albumLink %> class="album">
                    <h5 class="title"><%= ts.albumName %></h5>
                </a>
                <a href= <%= artistLink %> class="artist">
                    <h5 class="title"><%= ts.artistName %></h5>
                </a>
                <div class="meatball-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="option-bar">
                    <a href=<%=artistLink%> class="artist-option option">Go to artist</a>
                    <a href=<%=albumLink%> class="album-option option">Go to album</a>
                    <% if(currentUser){ %>
                        <% let flag = false %>
                        <% for(let i = 0; i< fav.length; i++){ %>
                            <% if(ts._id == fav[i].songId){ %>
                                <% flag = true; %>
                                <% break; %> 
                            <% } %> 
                        <% } %>
                        <% console.log(flag) %>
                        <% if(flag === true){ %>
                            <form action="/favorite/<%=currentUser._id%>/<%=ts._id%>/delete" method="post">
                                <a href="#" onclick="this.parentNode.submit()" class="favorite-option option">Delete from favourite</a>
                            </form>   
                        <% } else{ %>
                            <form action="/favorite/<%=currentUser._id%>/<%=ts._id%>/add" method="post">
                                <a href="#" onclick="this.parentNode.submit()" class="favorite-option option">Add to favourite</a>
                            </form>      
                        <% } %>
                          
                    <% } %>
                    <% if(currentUser){ %>
                        <% if(currentUser.subscribe === true) { %>
                            <form action="/song/<%=ts._id%>/download" method="post">
                                <a href="#" onclick="this.parentNode.submit()" class="download-option option">Download</a>
                            </form>
                        <% } %>
                    <% } %>
                </div>
            </li> -->
        <% }); %>
        </div>
</section>

<%-include('../partials/footer.ejs') %>