<%-include('../partials/header_manager_artist.ejs') %>
<%-include('../partials/header_navbar.ejs') %>
<section class="main">
    <section class="container-fluid banner">
        <a href="/admin/music" class="material-icons back-button">arrow_back</a>
        
        <br>
        <% artist.forEach(function(at){ %>
            <img src='<%=at.cover %>' alt="" class="artist-cover">
            <section class="text">
                
                <i>Artist</i>
                <br>
                <i class="artist-name"><%=at.name %></i>
                <h5>
                    by <a href="/admin/user/<%=at.manager%>" style="color: lightblue;"><%=user.name%> <%= user.lastName%></a>
                </h5>
                <br>
                <button type="button" class="btn material-icons-outlined" id="btn-add-more-artist" style="display: none;">Add More Album <span class="material-icons">add_circle_outline</span></button> 
                <% let backLink = "/admin/music/" + "artist/" + at._id; %>
                <i class="backLink" id=<%=backLink %>></i>
                <button type="button" class="btn-edit rounded-pill" id="btn-edit">Edit</button>
                <form action="/admin/music/artist/<%=at._id%>/delete" method="post">
                    <button class="rounded-pill btn-delete-small d-block d-lg-none" id="delete" onclick="return confirm('Are you sure you want to delete this item?');">Delete artist</button>
                </form>
                <form action="/admin/music/artist/<%=at._id%>/delete" method="post">
                    <button class="rounded-pill btn-delete d-none d-lg-block" id="delete" onclick="return confirm('Are you sure you want to delete this item?');">Delete artist</button>
                </form>
            </section>
        

            </section>
            <section class="container artist">

            <% if(at.albums.length === 0) { %>
                <h1 style="text-align: center; color: white;">This artist has no album</h1>
            <% } %>

            <% at.albums.forEach(function(al){ %>
                <% let albumLink = "/admin/music/artist/" + at._id + "/album/" + al._id %>
                <button type="button" class="btn artist-btn" id=<%=albumLink%>> 
                    <img src= "<%= al.cover %>" alt="" class="cover"> <br>
                    <%=al.name%>
                </button>
            <% }) %>
        <% }) %>
    </section>
</section>

<%-include('../partials/footer.ejs') %>