<%-include('../partials/header_album.ejs') %>
<%-include('../partials/header_navbar.ejs') %>
<%-include('../partials/header_sidenav.ejs') %>
  <section class="main container d-none d-lg-block">
    <section class="container-fluid banner">
        <a  id="back" class="material-icons back-button">arrow_back</a>
        
        <br>
        <img src= <%= album.cover %> alt="" class="album-cover">
        <section class="text">
            <i id= <%= album._id %> class="id-album" >Album</i>
            <br>
            <i class="album-name" class="id-artist" id= <%= id %>> <%= album.name %> </i>
        </section>
        
    </section>
    <section class="container artist">
        <div class="accordion">
        <% album.songs.forEach(function(sng){ %>

            <div class="accordion-item" id="accordionSong">
                <h2 class="accordion-header" id="heading<%=sng._id%>">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%=sng._id%>" aria-expanded="true" aria-controls="collapse<%=sng._id%>">
                        <%= sng.title%>
                    </button>
                </h2>
            </div>
            <div id="collapse<%=sng._id%>" class="accordion-collapse collapse" aria-labelledby="heading<%=sng._id%>" data-bs-parent="#accordionSong">
                <div class="accordion-body">
                    <% if(currentUser){ %>
                        <% let flag = false %>
                        <% for(let i = 0; i< fav.length; i++){ %>
                            <% if(sng._id == fav[i].songId){ %>
                                <% flag = true; %>
                                <% break; %> 
                            <% } %> 
                        <% } %>
                        <% if(flag === true){ %>
                            <form action="/favorite/<%=currentUser._id%>/<%=sng._id%>" method="POST">
                                <a href="#" onclick="this.parentNode.submit()" class="artist-option option rounded-pill">Go to song</a>
                            </form>
                        <% }%>
                    <% } else{ %>
                        <a href="/song/<%=sng._id%>" class="artist-option option rounded-pill">Go to song</a>
                    <% } %>
                    <a href="/artist/<%=album.artistId%>" class="artist-option option rounded-pill">Go to artist</a>
                <% if(currentUser){ %>
                    <% let flag = false %>
                    <% for(let i = 0; i< fav.length; i++){ %>
                        <% if(sng._id == fav[i].songId){ %>
                            <% flag = true; %>
                            <% break; %> 
                        <% } %> 
                    <% } %>
                    <% if(flag === true){ %>
                        <form action="/favorite/<%=currentUser._id%>/<%=sng._id%>/delete" method="post">
                            <a href="#" onclick="this.parentNode.submit()" class="favorite-option option rounded-pill">Delete from favourite</a>
                        </form>   
                    <% } else{ %>
                        <form action="/favorite/<%=currentUser._id%>/<%=sng._id%>/add" method="post">
                            <a href="#" onclick="this.parentNode.submit()" class="favorite-option option rounded-pill">Add to favourite</a>
                        </form>      
                    <% } %>
                    
                <% } %>
                <% if(currentUser){ %>
                    <% if(currentUser.subscribe === true) { %>
                        <form action="/song/<%=sng._id%>/download" method="post">
                            <a href="#" onclick="this.parentNode.submit()" class="download-option option rounded-pill">Download</a>
                        </form>
                        
                    <% } %>
                <% } %>
                </div>
            </div>
            <% }); %>
        </div>
        
    <% if(album.songs.length === 0){ %>
        <h1 style="text-align: center;">This album has no song</h1>
    <% } %>
    
    </section>
  </section>
  <section class="main container d-block d-lg-none" style="margin-left: 0rem; overflow-x: hidden;">
    <section class="container-fluid banner">
        <a  id="back" class="material-icons back-button">arrow_back</a>
        
        <br>
        <img src= <%= album.cover %> alt="" class="album-cover">
        <section class="text">
            <i id= <%= album._id %> class="id-album" >Album</i>
            <br>
            <i class="album-name" class="id-artist" id= <%= id %>> <%= album.name %> </i>
        </section>
        
    </section>
    <section class="container artist">
        <div class="accordion">
        <% album.songs.forEach(function(sng){ %>

            <div class="accordion-item" id="accordionSong">
                <h2 class="accordion-header" id="heading<%=sng._id%>">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%=sng._id%>" aria-expanded="true" aria-controls="collapse<%=sng._id%>">
                        <%= sng.title%>
                    </button>
                </h2>
            </div>
            <div id="collapse<%=sng._id%>" class="accordion-collapse collapse" aria-labelledby="heading<%=sng._id%>" data-bs-parent="#accordionSong">
                <div class="accordion-body">
                    <% if(currentUser){ %>
                        <% let flag = false %>
                        <% for(let i = 0; i< fav.length; i++){ %>
                            <% if(sng._id == fav[i].songId){ %>
                                <% flag = true; %>
                                <% break; %> 
                            <% } %> 
                        <% } %>
                        <% if(flag === true){ %>
                            <form action="/favorite/<%=currentUser._id%>/<%=sng._id%>" method="POST">
                                <a href="#" onclick="this.parentNode.submit()" class="artist-option option rounded-pill">Go to song</a>
                            </form>
                        <% }%>
                    <% } else{ %>
                        <a href="/song/<%=sng._id%>" class="artist-option option rounded-pill">Go to song</a>
                    <% } %>
                    <a href="/artist/<%=album.artistId%>" class="artist-option option rounded-pill">Go to artist</a>
                <% if(currentUser){ %>
                    <% let flag = false %>
                    <% for(let i = 0; i< fav.length; i++){ %>
                        <% if(sng._id == fav[i].songId){ %>
                            <% flag = true; %>
                            <% break; %> 
                        <% } %> 
                    <% } %>
                    <% if(flag === true){ %>
                        <form action="/favorite/<%=currentUser._id%>/<%=sng._id%>/delete" method="post">
                            <a href="#" onclick="this.parentNode.submit()" class="favorite-option option rounded-pill">Delete from favourite</a>
                        </form>   
                    <% } else{ %>
                        <form action="/favorite/<%=currentUser._id%>/<%=sng._id%>/add" method="post">
                            <a href="#" onclick="this.parentNode.submit()" class="favorite-option option rounded-pill">Add to favourite</a>
                        </form>      
                    <% } %>
                    
                <% } %>
                <% if(currentUser){ %>
                    <% if(currentUser.subscribe === true) { %>
                        <form action="/song/<%=sng._id%>/download" method="post">
                            <a href="#" onclick="this.parentNode.submit()" class="download-option option rounded-pill">Download</a>
                        </form>
                        
                    <% } %>
                <% } %>
                </div>
            </div>
            <% }); %>
        </div>
        
    <% if(album.songs.length === 0){ %>
        <h1 style="text-align: center;">This album has no song</h1>
    <% } %>
    
    </section>
  </section>

<%-include('../partials/footer.ejs') %>