<%-include('../partials/header_artist.ejs') %>

<nav class="navbar container-fluid head">
    <a class="navbar-brand home-button" href="/">
      <img src="\src\home.png" width="50" height="50" class="d-inline-block" alt="">
      Waveform
    </a>
    <form class="form-inline" action="/search" method="post">
        <input class="form-control mr-sm-2 form-rounded" id="search" name="keyword" type="search" placeholder= "&#xF002; Search for songs and artists" aria-label="Search">
    </form>
  </nav> 
  <nav class="side-nav ">
    <% if(currentUser){ %>
        <a href="/" class="user" id="home"><span ><i class="fas fa-home"></i></span> Home</a>
        <a href="/profile" class="user" id="profile"><span class="material-icons">person</span> Profile</a>
        <a href="/favorite" class="user" id="favourite"><span class="material-icons">favorite</span>    Favourite</a>
        <a href="#" class="user" id="download"><span class="material-icons">download</span>Download</a>
    <% } else { %>
        <i class="guest">Guest</i>
        <a href="/login" class="guest" id="signup">Sign in/signup</a> 
    <% } %>
  </nav>
  <section class="main container">
    <section class="container-fluid banner">
        <a id="back" class="material-icons back-button">arrow_back</a>
        
        <br>
        <img src= <%= artist.cover %> alt="" class="artist-cover">
        <section class="text">
            <i>Artist</i>
            <br>
            <i class="artist-name" id= <%= artist._id %> > <%= artist.name %></i>
        </section>
        
    </section>
    <section class="container artist">

        <% artist.albums.forEach(function(alb){ %>
            <button type="button" class="btn artist-btn" id= <%= alb.id %> > 
                <img src= <%= alb.cover %> alt="" class="cover"> <br>
                <%= alb.name %>
            </button>
        <% }); %>
        <% if(artist.albums.length === 0){ %>
            <h3 style="text-align: center;">This artist has not added any albums yet</h3>
        <% } %>
    </section>
    <h1 class="no-album">This artist has not published any album yet</h1>
  </section>
      

<%-include('../partials/footer.ejs') %>