<%-include('../partials/header_login_screen.ejs') %>
<%-include('../partials/header_navbar.ejs') %>
<section class="main d-none d-lg-block">
    <h1 style="color: white; margin-left: 10rem; font-size: 350%;">Reset Password</h1>
    <div id="reset">
    <form action="/reset-password/<%=id%>" method="post">
        <!-- <h4>E-mail</h4>
        <input type="email" name="username" placeholder="E-mail" class="form-control mr-sm-2" required> -->
        <h4>New Password</h4>
        <input type="password" name="password" id="input-password" minlength="6" placeholder="Password" class="form-control mr-sm-2" required>
        <h4>Confirm Password</h4>
        <input type="password" name="confirmPassword" id="confirm" minlength="6" placeholder="Password" class="form-control mr-sm-2" required>
        <br>
        <button type="submit" class="btn btn-primary rounded-pill" id="btn-submit">Submit</button>
    </form>    
    </div>
    
</section>
<section class="d-block d-lg-none" style="margin-top: 20%; color: white;">
    <h1 style="font-size: 350%;">Reset Password</h1>
    <div>
        <form action="/reset-password/<%=id%>" method="post">
            <!-- <h4>E-mail</h4>
            <input type="email" name="username" placeholder="E-mail" class="form-control mr-sm-2" required> -->
            <h4>New Password</h4>
            <input type="password" name="password" id="input-password" minlength="6" placeholder="Password" class="form-control mr-sm-2" required>
            <h4>Confirm Password</h4>
            <input type="password" name="confirmPassword" id="confirm" minlength="6" placeholder="Password" class="form-control mr-sm-2" required>
            <br>
            <button type="submit" class="btn btn-primary rounded-pill" id="btn-submit">Submit</button>
        </form>    
    </div>
</section>

<%-include('../partials/footer.ejs') %>