<%-include('../partials/header_home.ejs') %>
<%-include('../partials/header_navbar.ejs') %>
<%-include('../partials/header_sidenav.ejs') %>
  <section class="main container">
    <h1 class="d-none d-lg-block">Top Aritsts</h1>
    <h1 class="d-block d-lg-none" style="text-align:center">Top Aritsts</h1>
    <section class="container top artist">
        <% artist.forEach(function(art){ %>
            <button type="button" class="btn btn-artist id-artist col-sm" id= <%= art._id %> > 
                <img src= <%= art.cover %> alt="" class="cover"> <br>
                <h3> <%= art.name %></h3>
            </button>
        <% }); %>
  </section>
  <h1 class="d-none d-lg-block">Top Albums</h1>
  <h1 class="d-block d-lg-none" style="text-align:center">Top Albums</h1>
  <section class="container top album">
    <% album.forEach(function(alb){ %>
        <button type="button" class="btn btn-album id-album col-sm" id= <%= alb._id %> > 
            <i id= <%= artist[0].id %> class="id-artist-album"></i>
            <img src= <%= alb.cover %> alt="" class="cover"> <br>
            <h3> <%= alb.name %></h3>
        </button>
    <% }); %>
  </section>
  <h1 class="d-none d-lg-block">Top Songs</h1>
  <h1 class="d-block d-lg-none" style="text-align:center">Top Songs</h1>
  <section class="container top album">
    <p class="header">
      <h3 class="header d-none d-lg-inline-block" id="number">#</h3>
      <h3 class="header d-none d-lg-inline-block" id="title">TITLE</h3>
      <h3 class="header d-none d-lg-inline-block" id="album">ALBUM</h3>
      <h3 class="header d-none d-lg-inline-block" id="artist">ARTIST</h3>
  </p>
  <ol>
    <% song.forEach(function(sng){ %>
        <% let albumId = "/album/" + sng.albumId; %>
        <% let artistId = "/artist/" + sng.artistId; %>
        <li class="song">
            <img src= <%= sng.cover %> alt="" class="cover cover-song">
            <a href="/song/<%=sng._id%>" class="song-top-song">
                <h5 class="title id-song-title" id= <%= sng._id %> > <%= sng.title %></h5>
            </a>
            <a href= <%= albumId %> class="album-top-song">
                <h5 class="id-song-album d-none d-lg-block" id= <%= sng._id %> > <%= sng.albumName %> </h5>
            </a>
            <a href= <%= artistId %> class="artist-song">
                <h5 class="id-song-artist d-none d-lg-block" id= <%= sng.artistId %> > <%= sng.artistName %> </h5>
            </a>
            <div class="meatball-menu d-none d-lg-block">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="option-bar dropdown-menu ">
                <a href= <%= artistId %> class="artist-option option dropdown-item">Go to artist</a>
                <a href= <%= albumId %> class="album-option option dropdown-item">Go to album</a>
                <% if(currentUser){ %>
                    <% let flag = false %>
                    <% for(let i = 0; i< fav.length; i++){ %>
                        <% if(sng._id == fav[i].songId){ %>
                            <% flag = true; %>
                            <% break; %> 
                        <% } %> 
                    <% } %>
                    <% if(flag === true){ %>
                        <form action="/favorite/<%=currentUser._id%>/<%=sng._id%>/delete" method="post">
                            <a href="#" onclick="this.parentNode.submit()" class="favorite-option option dropdown-item">Delete from favourite</a>
                        </form>   
                    <% } else{ %>
                        <form action="/favorite/<%=currentUser._id%>/<%=sng._id%>/add" method="post">
                            <a href="#" onclick="this.parentNode.submit()" class="favorite-option option dropdown-item">Add to favourite</a>
                        </form>      
                    <% } %>
                      
                <% } %>
                <% if(currentUser){ %>
                    <% if(currentUser.subscribe === true) { %>
                        <form action="/song/<%=sng._id%>/download" method="post">
                            <a href="#" onclick="this.parentNode.submit()" class="download-option option">Download</a>
                        </form>
                        
                    <% } %>
                <% } %>
            </div>
            <button class="navbar-toggler d-block d-lg-none navbar-dark bg-inverse song-toggler" type="button" data-bs-toggle="collapse" style="float: right;" data-bs-target="#collapse<%=sng._id%>" aria-controls="<%=sng._id%>" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon bg-inverse"></span>
            </button>
        </li>
            <div class="collapse navbar-collapse song-menu" id="collapse<%=sng._id%>" style="float: right;">
              <ul class="navbar-nav" >
                <div class="d-block d-lg-none card card-body">
                    <li class="nav-item">
                        <a href= <%= artistId %> class="artist-option option dropdown-item">Go to artist</a>
                    </li>
                    <li class="nav-item">
                        <a href= <%= albumId %> class="album-option option dropdown-item">Go to album</a>
                    </li>
                    <% if(currentUser){ %>
                        <% let flag = false %>
                        <% for(let i = 0; i< fav.length; i++){ %>
                            <% if(sng._id == fav[i].songId){ %>
                                <% flag = true; %>
                                <% break; %> 
                            <% } %> 
                        <% } %>
                        <% if(flag === true){ %>
                            <li class="nav-item">
                                <form action="/favorite/<%=currentUser._id%>/<%=sng._id%>/delete" method="post">
                                    <a href="#" onclick="this.parentNode.submit()" class="favorite-option option dropdown-item">Delete from favourite</a>
                                </form>  
                            </li>
                        <% } else{ %>
                            <li class="nav-item">
                                <form action="/favorite/<%=currentUser._id%>/<%=sng._id%>/add" method="post">
                                    <a href="#" onclick="this.parentNode.submit()" class="favorite-option option dropdown-item">Add to favourite</a>
                                </form>  
                            </li>    
                        <% } %>
                          
                    <% } %>
                    <% if(currentUser){ %>
                        <% if(currentUser.subscribe === true) { %>
                            <li class="nav-item">
                                <form action="/song/<%=sng._id%>/download" method="post">
                                    <a href="#" onclick="this.parentNode.submit()" class="download-option option">Download</a>
                                </form>
                            </li>
                        <% } %>
                    <% } %>
                </div>
            </div>
    <% }); %>

</ol>

  </section>
<%-include('../partials/footer.ejs') %>   