<%-include('../partials/header_home.ejs') %>
<%-include('../partials/header_navbar.ejs') %>
<%-include('../partials/header_sidenav.ejs') %>
<section class="main container d-none d-lg-block">
    <h1 class="d-none d-lg-block">Top Arisngsng</h1>
    <h1 class="d-block d-lg-none" style="text-align:center">Top Arisngsng</h1>
    <a href="/artist" >
        <h4 class="see-all">SEE ALL</h4>
    </a>
    <section class="container top artist">
        <% artist.forEach(function(art){ %>
            <button type="button" class="btn btn-artist id-artist col-sm" id= <%= art._id %> > 
                <img src= <%= art.cover %> alt="" class="cover"> <br>
                <h3> <%= art.name %></h3>
            </button>
        <% }); %>
  </section>
  <h1 class="d-none d-lg-block">Top Albums</h1>
  <h1 class="d-block d-lg-none" style="text-align:center">Top Albums</h1>
  <a href="/album" >
      <h4 class="see-all">SEE ALL</h4>
  </a>
  <section class="container top album">
    <% album.forEach(function(alb){ %>
        <button type="button" class="btn btn-album id-album col-sm" id= <%= alb._id %> > 
            <i id= <%= artist[0].id %> class="id-artist-album"></i>
            <img src= <%= alb.cover %> alt="" class="cover"> <br>
            <h3> <%= alb.name %></h3>
        </button>
    <% }); %>
  </section>
  <h1 class="d-none d-lg-block">Top Songs</h1>
  <h1 class="d-block d-lg-none" style="text-align:center">Top Songs</h1>
  <a href="/song" >
      <h4 class="see-all">SEE ALL</h4>
  </a>
  <section class="container top album">
    <p class="header">
      <h3 class="header d-none d-lg-inline-block" id="title">TITLE</h3>
      <h3 class="header d-none d-lg-inline-block" id="album">ALBUM</h3>
      <h3 class="header d-none d-lg-inline-block" id="artist">ARTIST</h3>
    </p>
  <div class="accordion">
    <% song.forEach(function(sng){ %>
        <% let albumId = "/album/" + sng.albumId; %>
        <% let artistId = "/artist/" + sng.artistId; %>
        <div class="accordion-item" id="accordionSong">
            <h2 class="accordion-header" id="heading<%=sng._id%>">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%=sng._id%>" aria-expanded="true" aria-controls="collapse<%=sng._id%>">
                    <img src= <%= sng.cover %> alt="" class="cover cover-song d-none d-lg-block">
                    <h5 class="title id-song-title" id= <%= sng._id %> > <%= sng.title %></h5>
                    <h5 class="id-song-album d-none d-lg-block" id= <%= sng._id %> > <%= sng.albumName %> </h5>
                    <h5 class="id-song-artist d-none d-lg-block" id= <%= sng.artistId %> > <%= sng.artistName %> </h5>
                </button>
            </h2>
        </div>
        <div id="collapse<%=sng._id%>" class="accordion-collapse collapse" aria-labelledby="heading<%=sng._id%>" data-bs-parent="#accordionSong">
            <div class="accordion-body">
                <% if(currentUser){ %>
                    <% let flag = false %>
                    <% for(let i = 0; i< fav.length; i++){ %>
                        <% if(sng._id == fav[i].songId){ %>
                            <% flag = true; %>
                            <% break; %> 
                        <% } %> 
                    <% } %>
                    <% if(flag === true){ %>
                        <form action="/favorite/<%=currentUser._id%>/<%=sng._id%>" method="POST">
                            <a href="#" onclick="this.parentNode.submit()" class="artist-option option rounded-pill">Go to song</a>
                        </form>
                    <% } else{ %>
                        <a href="/song/<%=sng._id%>" class="artist-option option rounded-pill">Go to song</a>
                    <% } %>
                <% } else{ %>
                    <a href="/song/<%=sng._id%>" class="artist-option option rounded-pill">Go to song</a>
                <% } %>
                <a href="/artist/<%=album.artistId%>" class="artist-option option rounded-pill">Go to artist</a>
                <a href="<%=albumId%>" class="artist-option option rounded-pill">Go to album</a>
            <% if(currentUser){ %>
                <% let flag = false %>
                <% for(let i = 0; i< fav.length; i++){ %>
                    <% if(sng._id == fav[i].songId){ %>
                        <% flag = true; %>
                        <% break; %> 
                    <% } %> 
                <% } %>
                <% if(flag === true){ %>
                    <form action="/favorite/<%=currentUser._id%>/<%=sng._id%>/delete" method="post">
                        <a href="#" onclick="this.parentNode.submit()" class="favorite-option option rounded-pill">Delete from favourite</a>
                    </form>   
                <% } else{ %>
                    <form action="/favorite/<%=currentUser._id%>/<%=sng._id%>/add" method="post">
                        <a href="#" onclick="this.parentNode.submit()" class="favorite-option option rounded-pill">Add to favourite</a>
                    </form>      
                <% } %>
                
            <% } %>
            <% if(currentUser){ %>
                <% if(currentUser.subscribe === true) { %>
                    <form action="/song/<%=sng._id%>/download" method="post">
                        <a href="#" onclick="this.parentNode.submit()" class="download-option option rounded-pill">Download</a>
                    </form>
                    
                <% } %>
            <% } %>
            </div>
        </div>
    <% }); %>

    </div>
  </section>
</section>
<section class="main container d-block d-lg-none" style="margin-left: 0rem; overflow-x: hidden;">
    <h1 class="d-none d-lg-block">Top Arisngsng</h1>
    <h1 class="d-block d-lg-none" style="text-align:center">Top Arisngsng</h1>
    <a href="/artist" >
        <h4 class="see-all">SEE ALL</h4>
    </a>
    <section class="container top artist">
        <% artist.forEach(function(art){ %>
            <button type="button" class="btn btn-artist id-artist col-sm" id= <%= art._id %> > 
                <img src= <%= art.cover %> alt="" class="cover"> <br>
                <h3> <%= art.name %></h3>
            </button>
        <% }); %>
  </section>
  <h1 class="d-none d-lg-block">Top Albums</h1>
  <h1 class="d-block d-lg-none" style="text-align:center">Top Albums</h1>
  <a href="/album" >
      <h4 class="see-all">SEE ALL</h4>
  </a>
  <section class="container top album">
    <% album.forEach(function(alb){ %>
        <button type="button" class="btn btn-album id-album col-sm" id= <%= alb._id %> > 
            <i id= <%= artist[0].id %> class="id-artist-album"></i>
            <img src= <%= alb.cover %> alt="" class="cover"> <br>
            <h3> <%= alb.name %></h3>
        </button>
    <% }); %>
  </section>
  <h1 class="d-none d-lg-block">Top Songs</h1>
  <h1 class="d-block d-lg-none" style="text-align:center">Top Songs</h1>
  <a href="/song" >
      <h4 class="see-all">SEE ALL</h4>
  </a>
  <section class="container top album">
    <p class="header">
      <h3 class="header d-none d-lg-inline-block" id="title">TITLE</h3>
      <h3 class="header d-none d-lg-inline-block" id="album">ALBUM</h3>
      <h3 class="header d-none d-lg-inline-block" id="artist">ARTIST</h3>
  </p>
  <div class="accordion">
    <% song.forEach(function(sng){ %>
        <% let albumId = "/album/" + sng.albumId; %>
        <% let artistId = "/artist/" + sng.artistId; %>
        <div class="accordion-item" id="accordionSong">
            <h2 class="accordion-header" id="heading<%=sng._id%>">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%=sng._id%>" aria-expanded="true" aria-controls="collapse<%=sng._id%>">
                    <img src= <%= sng.cover %> alt="" class="cover cover-song d-none d-lg-block">
                    <h5 class="title id-song-title" id= <%= sng._id %> > <%= sng.title %></h5>
                    <h5 class="id-song-album d-none d-lg-block" id= <%= sng._id %> > <%= sng.albumName %> </h5>
                    <h5 class="id-song-artist d-none d-lg-block" id= <%= sng.artistId %> > <%= sng.artistName %> </h5>
                </button>
            </h2>
        </div>
        <div id="collapse<%=sng._id%>" class="accordion-collapse collapse" aria-labelledby="heading<%=sng._id%>" data-bs-parent="#accordionSong">
            <div class="accordion-body">
                <% if(currentUser){ %>
                    <% let flag = false %>
                    <% for(let i = 0; i< fav.length; i++){ %>
                        <% if(sng._id == fav[i].songId){ %>
                            <% flag = true; %>
                            <% break; %> 
                        <% } %> 
                    <% } %>
                    <% if(flag === true){ %>
                        <form action="/favorite/<%=currentUser._id%>/<%=sng._id%>" method="POST">
                            <a href="#" onclick="this.parentNode.submit()" class="artist-option option rounded-pill">Go to song</a>
                        </form>
                    <% } else{ %>
                        <a href="/song/<%=sng._id%>" class="artist-option option rounded-pill">Go to song</a>
                    <% } %>
                <% } else{ %>
                    <a href="/song/<%=sng._id%>" class="artist-option option rounded-pill">Go to song</a>
                <% } %>
                <a href="/artist/<%=album.artistId%>" class="artist-option option rounded-pill">Go to artist</a>
                <a href="<%=albumId%>" class="artist-option option rounded-pill">Go to album</a>
            <% if(currentUser){ %>
                <% let flag = false %>
                <% for(let i = 0; i< fav.length; i++){ %>
                    <% if(sng._id == fav[i].songId){ %>
                        <% flag = true; %>
                        <% break; %> 
                    <% } %> 
                <% } %>
                <% if(flag === true){ %>
                    <form action="/favorite/<%=currentUser._id%>/<%=sng._id%>/delete" method="post">
                        <a href="#" onclick="this.parentNode.submit()" class="favorite-option option rounded-pill">Delete from favourite</a>
                    </form>   
                <% } else{ %>
                    <form action="/favorite/<%=currentUser._id%>/<%=sng._id%>/add" method="post">
                        <a href="#" onclick="this.parentNode.submit()" class="favorite-option option rounded-pill">Add to favourite</a>
                    </form>      
                <% } %>
                
            <% } %>
            <% if(currentUser){ %>
                <% if(currentUser.subscribe === true) { %>
                    <form action="/song/<%=sng._id%>/download" method="post">
                        <a href="#" onclick="this.parentNode.submit()" class="download-option option rounded-pill">Download</a>
                    </form>
                    
                <% } %>
            <% } %>
            </div>
        </div>
    <% }); %>

    </div>
    </section>

</section>
<%-include('../partials/footer.ejs') %>   