<%-include('partials/header_manager_song_add.ejs') %>

<nav class="navbar container-fluid">
    <a class="navbar-brand home-button" href="/manager">
      <img src="/src\home.png" width="50" height="50" class="d-inline-block" alt="">
      Waveform 
    </a>
    <form class="form-inline">
        <input class="form-control mr-sm-2 form-rounded" id="search" type="search" placeholder= "&#xF002; Search for songs and artists" aria-label="Search">
    </form>
</nav>
<section class="main">
    <section class="container-fluid banner">
        <a  class="material-icons back-button point" id="back">arrow_back</a>
        
        <br>
        
        <section class="main-article">
            <div class="album">
                <% album.forEach(function(al){ %>
                    <h2 id="album-name"><%=al.name%></h2>
                        <img src=<%=al.cover%> alt="" class="upload">    
                    </div>
                    <form action="/manager/artist/<%=id%>/album/<%=al._id%>/add" class="form-inline" id="form-song" method="post">
                        <h4 class="title">Title</h4>
                        <input type="text" name="title" class="form-control" id="input-title" placeholder="Song title" required>
                        <br>
                        <h4 class="title">Lyrics</h4>
                        <textarea name="lyrics" id="lyrics" cols="40" rows="15" placeholder="Song lyrics"></textarea>
                        <button type="submit" id="btn-add" class="rounded-pill">add</button>
                    </form>        
                <% }); %>
                
        </section>
        
</section>

<%-include('partials/footer.ejs') %>