<%-include('partials/header_user_profile_subscribe.ejs') %>

<nav class="navbar container-fluid head">
    <a class="navbar-brand home-button" href="/">
        <img src="/src\home.png" width="50" height="50" class="d-inline-block" alt="">
        Waveform
    </a>
    <form class="form-inline" action="/search" method="post">
        <input class="form-control mr-sm-2 form-rounded" id="search" name="keyword" type="search" placeholder= "&#xF002; Search for songs and artists" aria-label="Search">
    </form>
</nav> 
<nav class="side-nav">
    <% if(currentUser){ %>
        <a href="/" class="user" id="home"><span ><i class="fas fa-home"></i></span> Home</a>
        <a href="/profile" class="user" id="profile"><span class="material-icons">person</span> Profile</a>
        <a href="/favorite" class="user" id="favourite"><span class="material-icons">favorite</span>    Favourite</a>
        <a href="#" class="user" id="download"><span class="material-icons">download</span>Download</a>
    <% } else { %>
        <i class="guest">Guest</i>
        <a href="/login" class="guest" id="signup">Sign in/signup</a> 
    <% } %>
</nav>
<section class="main container">
    <div class="header">
        <h1 id="price-name">Subscription</h1>
        <h5 id="ppm">$6.99/month</h5>
        <form action="/profile/subscribe" method="post">
        <div class="form-inline" id="form-ccn">
            <h4>Card number</h4>
            <input type="text" name="id" style="display: none;" value="<%=currentUser.id%>">
            <input id="ccn" name="ccn" type="tel" required inputmode="numeric" pattern="[0-9\s]{16,16}" maxlength=16 placeholder="xxxx xxxx xxxx xxxx" class="form-control mr-sm-2 form-subscribe">
            <h4>Name</h4>
            <input type="text" id="name" name="name" placeholder="Cardholder name" class="form-control mr-sm-2 form-subscribe" required></div>
            <div id="div-selector">
                <h4 id="name-expiry-date">Expiry Date</h4>
                <select id="month" name="month" class="selector" required>
                    <option>month</option>
                    <% for(let i = 1; i <= 12; i++){ %>
                        <% let value = String(i)  %>
                        <option value=<%=value%>><%=i%></option>
                    <% } %>
                </select>
                <select id="year" name="year" class="selector" required>
                    <option value="0">year</option>
                    <% for(let i = 2021; i <= 2050; i++){ %>
                        <% let value = String(i) %>
                        <option value=<%=value%>><%=i%></option>
                    <% } %>
                </select>
            </div>
            
            <div class="form-inline" id="form-cvv">
                <h4>CVV</h4>
                <input type="tel" name="cvv" required class="form-control sm-mr-2" minlength=3 maxlength=3 placeholder="CVV" pattern="[0-9\s]{3,3}" id="cvv">
            </div>    
            <button type="submit" class="rounded-pill" id="btn-proceed">Proceed</button>
        </form>
    </div>
</section>

<%-include('partials/footer.ejs') %>