<%-include('partials/header_user_profile.ejs') %>

<nav class="navbar container-fluid head">
    <a class="navbar-brand home-button" href="/">
        <img src="src\home.png" width="50" height="50" class="d-inline-block" alt="">
        Waveform
    </a>
    <form class="form-inline">
        <input class="form-control mr-sm-2 form-rounded" id="search" type="search" placeholder= "&#xF002; Search for songs and artists" aria-label="Search">
    </form>
</nav> 
<nav class="side-nav">
    <a href="/" class="user" id="home"><span ><i class="fas fa-home"></i></span> Home</a>
    <a href="/profile" class="user" id="profile"><span class="material-icons">person</span> Profile</a>
    <a href="/favorite" class="user" id="favourite"><span class="material-icons">favorite</span>    Favourite</a>
    <a href="#" class="user" id="download"><span class="material-icons">download</span>Download</a>
    <i class="guest">Guest</i>
    <a href="login_screen.html" class="guest" id="signup">Sign in/signup</a>
</nav>
<section class="main container">
    <a href="/logout" id="logout-btn">Logout<span class="material-icons" id="logout-logo">logout</span></a>
    <section id="profile-main">
        <% if(!currentUser.profilePicture){ %>
            <img src="/src/upload-pic.png" alt="" id="profile-img">
        <% } else {%>
        <img src=" <%= currentUser.profilePicture %>" alt="" id="profile-img">
        <% } %>
        <% var subscribe = ''; %>
        <% if(currentUser.subscribe === true) { %>
            <% subscribe = "subscribed"; %>
        <% }else{ %>
            <% subscribe = "unsubscribed"; %>
        <% } %>
        <h4 id="subscribe-status"><%= subscribe %></h4>

        <% var subscribeButton = ''; %>
        <% if(currentUser.subscribe === true) { %>
            <form action="/profile/unsubscribe" method="post">
                <input type="text" name="userId" style="display: none;" value="<%=currentUser.id%>">
                <button type="submit" class="rounded-pill" id="subscribe-btn">unsubscribe</button>
            </form>
        <% }else{ %>
            <form action="/profile/subscribe-protal" method="get">
                <button type="submit" class="rounded-pill" id="subscribe-btn">subscribe</button>
            </form>
        <% } %>
        <i id=<%=currentUser.status%> class="status"></i>
        
        <p id="name">
            <h3 id="first-name"><%=currentUser.name%></h3>
            <h3 id="last-name"><%=currentUser.lastName%></h3>
        </p>
        <button type="button" class="rounded-pill" id="edit-btn">Edit</button>
    </section>
</section>
  

<%-include('partials/footer.ejs') %>