<%-include('../partials/header_user_profile_change_password.ejs') %>
<%-include('../partials/header_navbar.ejs') %>
<%-include('../partials/header_sidenav.ejs') %>
<section class="main container">
    <div class="header">
        <h1 id="price-name">Change Password</h1>
        
        <form action="" method="post">
        <div class="form-inline" id="form-ccn">
            <h4>Old Password</h4>
            <input type="text" name="id" style="display: none;" value="<%=currentUser.id%>">
            <input id="oldPassword" name="oldPassword" type="password" required  placeholder="Old Password" class="form-control mr-sm-2 form-subscribe">
            <h4>New Password</h4>
            <input type="password" id="newPassword" name="newPassword" minlength="6" placeholder="New Password" class="form-control mr-sm-2 form-subscribe" required>
            <h4>Confirm New Password</h4>
            <input type="password" id="confirm" name="confirmPassword" required placeholder="Confirm New Password" class="form-control mr-sm-2 form-subscribe">
        </div>
        <% if(typeof alertMessage !== 'undefined'){ %>
            <h4 style="color:salmon; text-align: center;" class="mr-sm-2 form-subscribe"><%=alertMessage%></h4>
        <% } %>    
            <button type="submit" class="rounded-pill" id="btn-proceed">Proceed</button>
        </form>
    </div>
</section>

<%-include('../partials/footer.ejs') %>