<%-include('../partials/header_profile_edit.ejs') %>
<%-include('../partials/header_navbar.ejs') %>
<%-include('../partials/header_sidenav.ejs') %>
<section class="main container">
    <a href="/" id="logout-btn">Logout<span class="material-icons" id="logout-logo">logout</span></a>
    <section id="profile-main">
        <form action="/profile/edit" method="post" enctype="multipart/form-data">
            <div>
                <label for="fileToUpload">
                    <input type="text" name="id" style="display: none;" value="<%=currentUser._id%>">
                <% if(!currentUser.profilePicture){ %>
                        <img class="profile-pic" src="/src/upload-pic.png" alt="" id="profile-img">
                <% } else {%>
                    <img class="profile-pic" src=" <%= currentUser.profilePicture %>" alt="" id="profile-img">
                <% } %>            
            </label>
            <input type="file" accept="image/*" name="profilePicture" id="fileToUpload" class="form-control" style="width: 25%; margin-left: 55%; margin-top: 1%;">
            </div>
            <section id="edit-name">
                <div class="form-inline">
                    <h4 id="first-name">First name</h4>
                    <input type="name" name="profile[name]" id="input-name" class="form-control mr-sm-5 edit-form" placeholder="First name" value="<%=currentUser.name%>" required>
                </div>
                <div class="form-inline">
                    <h4 id="last-name">Last name</h4>
                    <input type="name" name="profile[lastName]" id="input-last-name" class="form-control mr-sm-5 edit-form" placeholder="Last name" value="<%=currentUser.lastName%>" required>
                </div>
                
            </section>
            <button type="submit" class="rounded-pill" id="edit-btn">Submit</button>    
        </form>
        
    </section>
</section>

<%-include('../partials/footer.ejs') %>